table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.3s;
}

.clickable-row:hover {
  background-color: #f1f1f1;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative; /* Position relative to contain the close button */
  overflow-y: auto; 
  max-height: 700px;
}

.modal-header {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 8px;
}

/* Profile section styling */
.profile-section {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.profile-section ul {
  margin-top: 10px;
  padding-left: 15px;
}

/* Styles for modal */
.modal, .confirm-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content styling for both modals */
.modal-content, .confirm-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
}

/* Styling for the close button in modal */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

/* Styling for action buttons */
.modal-actions, .confirm-modal-content {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}
